#interface {
  @menuHeight: 35px;

  @import "panel";
  @import "menu";
  @import "tools";
  @import "timeline";
  @import "library";
  @import "body";
  @import "contextMenu";

  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    display: block;
  }

  .mid-container {
    width: 100%;
    height: calc(100% - @menuHeight);
    display: flex;
    justify-content: space-between;

    .center-container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}