body {
  font-family: "Open Sans", sans-serif;
}
body h5 {
  margin: 0;
}
#interface {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#interface .panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #454545;
}
#interface .panel .panel-header {
  display: flex;
  width: 100%;
  background-color: #252525;
}
#interface .panel .panel-header .panel-tab-button {
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #454545;
  width: fit-content;
  font-size: 0.9rem;
  border-radius: 0;
}
#interface .panel .panels-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 30px);
}
#interface .panel .panels-container .sub-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#interface .panel .panels-container .sub-panel .header,
#interface .panel .panels-container .sub-panel .footer {
  display: flex;
  padding: 4px 2px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}
#interface .panel .panels-container .sub-panel .header {
  border-bottom: 1px solid #252525;
  display: flex;
}
#interface .panel .panels-container .sub-panel .footer {
  border-top: 1px solid #252525;
}
#interface .panel .panels-container .sub-panel .sub-panel-container {
  height: 100%;
  overflow-y: auto;
}
#interface .panel .panel-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#interface .panel .panel-button > img {
  max-width: 100%;
  max-height: 100%;
}
#interface #menu {
  display: flex;
  height: 35px;
  width: 100%;
  background-color: #454545;
  border-bottom: 1px solid #5d5d5d;
  align-items: center;
}
#interface #menu > .button {
  padding: 3px 5px;
  margin: 0 4px;
  border-radius: 3px;
  white-space: nowrap;
  text-align: center;
  font-size: 0.9rem;
}
#interface #menu .menu-context {
  position: absolute;
  z-index: 1000;
  top: 32px;
  background-color: white;
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  border: 1px solid #252525;
  display: flex;
  flex-direction: column;
}
#interface #menu .menu-context > .button {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 7px 13px 7px 20px;
  min-width: 150px;
}
#interface #menu .menu-context > .button:hover {
  background-color: #bee6ff;
}
#interface #tools {
  display: flex;
  width: 35px;
  height: 100%;
  background-color: #454545;
  border-right: 1px solid #5d5d5d;
}
#interface #timeline {
  height: 250px;
  min-height: 250px;
  border-top: 1px solid #5d5d5d;
}
#interface #timeline .panels-container #timeline-layers {
  width: 250px;
}
#interface #timeline .panels-container #timeline-layers .header {
  justify-content: flex-end;
}
#interface #timeline .panels-container #timeline-layers .header .button {
  margin-right: 6px;
}
#interface #timeline .panels-container #timeline-layers .footer .button {
  margin-left: 6px;
}
#interface #timeline .panels-container #timeline-layers .layers-container {
  border-right: 1px solid #252525;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer {
  display: flex;
  align-items: center;
  height: 22px;
  font-size: 0.8rem;
  padding: 0 9px 0 20px;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer:not(:first-child) {
  border-top: 1px solid #252525;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer.selected {
  background-color: #5d5d5d;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label {
  user-select: none;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label[contenteditable] {
  background-color: #252525;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label[contenteditable] br {
  display: none;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label[contenteditable] * {
  display: inline;
  white-space: nowrap;
}
#interface #timeline .panels-container #timeline-track {
  display: flex;
  width: calc(100% - 250px);
}
#interface #timeline .panels-container #timeline-track .timeline-track-layer {
  display: flex;
  height: 22px;
  background-image: url("../assets/frames-pattern.png");
  background-size: contain;
}
#interface #timeline .panels-container #timeline-track .timeline-track-layer .timeline-key-frame {
  width: 12px;
  height: 100%;
  background-image: url("../assets/keyframe-empty.png");
  background-size: contain;
}
#interface #timeline .panels-container .sub-panel {
  max-height: 220px;
}
#interface #timeline .panels-container .sub-panel .sub-panel-container {
  overflow: hidden;
}
#interface #library {
  display: flex;
  width: 250px;
  height: 100%;
  border-left: 1px solid #5d5d5d;
}
#interface #library .panels-container {
  flex-direction: column;
}
#interface #library .panels-container #library-item-preview {
  height: 130px;
  min-height: 130px;
  background: white;
}
#interface #library .panels-container #library-item-preview > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#interface #library .panels-container #library-items-list {
  max-height: calc(100% - 130px);
}
#interface #library .panels-container #library-items-list .library-item-list-el {
  width: 100%;
  height: 30px;
  display: flex;
  font-size: 0.85rem;
  align-items: center;
  padding: 5px 20px 5px 15px;
}
#interface #library .panels-container #library-items-list .library-item-list-el.selected {
  background-color: #5d5d5d;
}
#interface #library .panels-container #library-items-list .library-item-list-el > label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#interface #library .panels-container #library-items-list .library-item-list-el > img {
  max-height: 100%;
  margin-right: 10px;
  filter: invert(1);
}
#interface #library .panels-container #library-items-list .library-item-list-el > img,
#interface #library .panels-container #library-items-list .library-item-list-el > label {
  user-select: none;
  pointer-events: none;
}
#interface #library .panels-container #library-item-preview,
#interface #library .panels-container #library-items-list {
  width: 100%;
}
#interface #body {
  display: flex;
  width: 100%;
  height: 100%;
}
#interface .mid-container {
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  justify-content: space-between;
}
#interface .mid-container .center-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
button,
.button {
  padding: 3px;
  border-radius: 3px;
  color: white;
  white-space: nowrap;
  margin: 0;
  background-color: #454545;
  border: none;
}
button > label,
.button > label,
button img,
.button img {
  user-select: none;
  pointer-events: none;
}
button > img,
.button > img {
  filter: invert(1);
}
button:hover,
.button:hover {
  background-color: #252525;
}
html * {
  box-sizing: border-box;
}
html body {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  color: white;
  margin: 0;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */