body {
  font-family: "Open Sans", sans-serif;
}
body h5 {
  margin: 0;
}
#interface {
  width: 100%;
}
#interface .panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #252525;
}
#interface .panel .panel-header {
  display: flex;
  width: 100%;
  background-color: #252525;
}
#interface .panel .panel-header .panel-tab-button {
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #454545;
  width: fit-content;
  font-size: 0.9rem;
}
#interface .panel .panels-container {
  display: flex;
  width: 100%;
  height: 100%;
}
#interface .panel .panels-container .sub-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #454545;
}
#interface .panel .panels-container .sub-panel .header,
#interface .panel .panels-container .sub-panel .footer {
  display: flex;
  padding: 4px 2px;
  height: 30px;
  max-height: 30px;
}
#interface .panel .panels-container .sub-panel .header {
  border-bottom: 1px solid #252525;
  display: flex;
}
#interface .panel .panels-container .sub-panel .footer {
  border-top: 1px solid #252525;
}
#interface .panel .panels-container .sub-panel .sub-panel-container {
  height: 100%;
  overflow-y: scroll;
}
#interface .panel .panel-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#interface .panel .panel-button > img {
  max-width: 100%;
  max-height: 100%;
}
#interface #timeline {
  height: 250px;
}
#interface #timeline .panels-container #timeline-layers {
  width: 250px;
  max-height: 220px;
}
#interface #timeline .panels-container #timeline-layers .header {
  justify-content: flex-end;
}
#interface #timeline .panels-container #timeline-layers .header button {
  margin-right: 6px;
}
#interface #timeline .panels-container #timeline-layers .footer button {
  margin-left: 6px;
}
#interface #timeline .panels-container #timeline-layers .layers-container {
  border-right: 1px solid #252525;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer {
  display: flex;
  align-items: center;
  height: 22px;
  font-size: 0.8rem;
  padding: 0 9px 0 20px;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer:not(:first-child) {
  border-top: 1px solid #252525;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer.selected {
  background-color: #5d5d5d;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label {
  user-select: none;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label[contenteditable] {
  background-color: #252525;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label[contenteditable] br {
  display: none;
}
#interface #timeline .panels-container #timeline-layers .layers-container .timeline-layers-layer label[contenteditable] * {
  display: inline;
  white-space: nowrap;
}
#interface #timeline .panels-container #timeline-track {
  display: flex;
  width: calc(100% - 250px);
}
#interface #timeline .panels-container #timeline-track .timeline-track-layer {
  display: flex;
  height: 22px;
  background-image: url("../assets/frames-pattern.png");
  background-size: contain;
}
button {
  padding: 3px;
  border-radius: 3px;
  color: white;
  white-space: nowrap;
  margin: 0;
  background-color: #454545;
  border: none;
}
button > img {
  filter: invert(1);
}
button:hover {
  background-color: #252525;
}
html body {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  color: white;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */